
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main {
    position: relative;
    top: 60px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.justify-content{
    justify-content: center;
}
@media screean and(max-width:1500px){
    .conten-portada {
        background-size: 2000px;
    }
}
/* SECCION / INTRO */
header {
    width: 100%;
    width: 100%;
    height: 759px;
    background-image: url(../IMG/fotos/Memoria-1.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 100%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.conten-portada {
    width: 100%;
    height: 759px;
    background-color: rgba(126, 252, 0, 0.253);
}
.menu {
    width: 94%;
    height: 60px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
.items{
    width: 10%;
    height: 50px;
    margin-left: 1200px;
}
.items button{
    width: 100%;
    height: 55px;
    background-color: rgba(0, 255, 255, 0);
    border: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 500;
}
.items button:hover{
    color: lawngreen;
}
.conten-uno {
    width: 80%;
    height: 400px;
    margin-left: 130px;
}     
.conten-dos{
    width: 90%;
    height: 400px;
    margin-left: 75px;
}
h1 {
    font-size: 60px;
    line-height: 155%;
    font-weight: 900;
    color: black;
    text-align: center; /*texto centrado*/
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}
.conten-dos p{
    color: black;
    font-size: 20px;
    line-height: 155%; 
    padding: 5%;
    text-indent: 2%; /*Texto identado*/
    text-align: justify; /*texto justificado y con sangria*/
    text-align: center; /*texto centrado*/
}
/* SECCION / CARDS */
#cards {
    margin-top: 200px;
}
.space-top {
    margin-top: 30px;
    position: absolute;
    top: 420px;
}
.container-cards {
    width: 80%;
    margin: 0 10%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.col-3 {
    padding: 10px;
    width: 25%;
}
.card {
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    color: black;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
}
.card:hover{
    color: white; /*para cambiar el color cuando se posiciona un enlace*/
    background-color: rgb(0, 185, 0);
} 
.card h4{
    font-weight: 800;
    font-size: 20px;
}
.card p{
    font-weight: 500;
    font-size: 16px;
}
/* SECCION UNO / DESCRIPCION */
.conten-1 {
    width: 100%;
    height: 700px;
    padding-top: 150px;
}
.conten-descrip{
    width: 90%;
    height: 500px;
    margin-left: 75px;
    padding-top: 80px;
    padding-left: 6%;
    padding-right: 6%;
}
.title{
    font-weight: 900;
    font-size: 70px;
    color: lawngreen;
    text-align: center;
}
.conten-descrip p{
    font-size: 19px;
    font-weight: 500;
    color: black;
    text-indent: 2%;
    text-align: justify; /*texto justificado y con sangria*/
}
.btn-descarga{
    width: 350px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.btn-descarga:hover{
    color: rgb(0, 185, 0);
    border: 2px solid rgb(0, 185, 0);
}
span{
    color: gray;
    font-weight: 400;
    font-size: 16px;
}
/* SECCION DOS / IMAGEN */
.conten-2{
    width: 100%;
    height: 700px;
    background-color: rgb(34, 0, 187);
}
.conten-imagen{
    width: 100%;
    height: 700px;
    background: url(/img/ilustraciones/price-bg.png);
    background-position: center center; /*centrado horizontal y vertical*/
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imagen-info{
    width: 70%;
    height: 170px;
    margin-top: 3%;
    margin-left: 16%;
}
.imagen-info h4{
    color: white;
    font-size: 38px;
}
.imagen-info p{
    padding: 4%;
    color: white;
    font-size: 19px;
}
.cards-imagenes{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    position: absolute;
}
.conten-cards-imag{
    width: 80%;
    margin: 0 10%;
}
.rows{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.col-4{
    padding: 10px;
    width: 25%;
}
.card-img{
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    padding-top: 70px;
    padding-bottom: 60px;
    box-sizing: border-box;
    height: 170%;
    border-radius: 10px;
    text-align: center;
}
.card-img span{
    color: aqua;
    font-size: 23px;
    font-weight: 800;
    position: relative;
    top: 130px;
}
.imag-uno{
    background: url(/img/fotos/silletera.jpg);
    background-color: rgba(255, 255, 255, 0.733);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 130%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-uno:hover{
    background: url(/img/fotos/silletera.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 160%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-dos{
    background: url(/img/fotos/plato\ de\ comida.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 170%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-dos:hover{
    background: url(/img/fotos/plato\ de\ comida.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 200%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-tres{
    background: url(/img/fotos/Pueblito1.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 130%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-tres:hover{
    background: url(/img/fotos/Pueblito1.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 160%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-cuatro{
    background: url(/img/fotos/Medellín-1-compressor.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 190%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imag-cuatro:hover{
    background: url(/img/fotos/Medellín-1-compressor.jpg);
    background-position: center center; /*centrado horizontal y vertical*/
    background-size: 220%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.boton-vermas{
    width: 100%;
    height: 80px;
}
.btn-vermas{
    width: 12%;
    height: 45px;
    background-color: rgb(1, 6, 80);
    border: none;
    border-radius: 8px;
    margin: 75px 660px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.btn-vermas:hover{
    color: lawngreen;
    border: 1.5px solid lawngreen;
}
/* SECCION TRES / MULTIMEDIA */
.espacio{
    width: 100%;
    height: 200px;
}
.info-uno-uno{
    width: 80%;
    height: 60px;
    margin-top: 6%;
    margin-left: 13%;
    text-align: center;
}
.info-uno-uno h2{
    font-weight: 800;
    font-size: 32px;
    color:  lawngreen;
}
.green{
    background-color: rgb(179, 255, 103);
}
.white{
    background-color: rgba(245, 245, 245, 0.938);
}
.conten-multimedia {
    width: 100%;
    height: 1600px;
}
.col-1{
    width: 100%;
    height: 400px;
}
.height{
    height: 480px;
}
.imagen-uno{
    width: 40%;
    height: 350px;
    margin-left: 20px;
    display:inline-block;
}
.img-multimedia-uno{
    width: 100%;
    height: 350px;
    margin-left: 30px;
    position: relative;
    top: 25px;
    border-radius: 3px;
}
.info-uno{
    width: 50%;
    height: 350px;
    margin-left: 50px;
    display:inline-block;
}
.info-uno h2{
    font-weight: 800;
    font-size: 30px;
}
.info-uno h3{
    font-weight: 300;
    font-size: 25px;
}
.info-uno p{
    text-align: justify;
}
.info-dos{
    width: 50%;
    height: 350px;
    margin-left: 50px;
    display:inline-block;
}
.info-dos h2{
    font-weight: 800;
    font-size: 30px;
}
.info-dos p{
    text-align: justify;
}
.imagen-dos{
    width: 40%;
    height: 350px;
    margin-left: 20px;
    display:inline-block;
}
.img-multimedia-dos{
    width: 100%;
    height: 350px;
    margin-left: 30px;
    position: relative;
    top: 25px;
    border-radius: 3px;
}
.esp{
    width: 100%;
    height: 60px;
}
/* SESCCION CUATRO / IMAGEN INFORMATIVA */
.conten-4{
    width: 100%;
    height: 700px;
    background-color: rgb(34, 0, 187);
}
.conten-imagen-dos{
    width: 100%;
    height: 700px;
    background: url(/img/ilustraciones/price-bg.png);
    background-position: center center; /*centrado horizontal y vertical*/
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
}
.imagen-info-dos{
    width: 70%;
    height: 100px;
    margin-top: 3%;
    margin-left: 15%;
}
.imagen-info-dos h4{
    color: white;
    font-size: 37px;
    font-weight: 800;
}
/* SECCION / SLIDER */
.conten-slider{
    width: 90%;
    height: 460px;
    /* background-color: blueviolet; */
    margin: auto;
}
.slider-wrap{
    width: 100%;
}
.slider-wrap ul{
    padding: 0;
} 
.slider-wrap li{
    list-style: none;
}
.slider-wrap img{
    width: 100%;
    height: 400px;
}
/* SECCION CINCO / NOSOTROS */
.nosotros{
    width: 100%;
    height: 130px;
}
.nosotros-info{
    width: 80%;
    height: 130px;
    margin-left: 170px;
    padding: 35px;
    text-align: center;
}
.nosotros-info h2{
    font-size: 32px;
    font-weight: 900;
    color:  lawngreen;
}
.conten-nosotros{
    width: 100%;
    height: 400px;
}
.col-5{
    width: 100%;
    height: 400px;
}
.imagen-nosotros{
    width: 30%;
    background: url(/img/fotos/fondo-empresarial.jpg);
    background-position: center center;   /* centrado horizontal y vertical */
    background-size: 180%;
    background-repeat: no-repeat; /*para que la imagensea una y centrada*/
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    height: 500px;
    margin: 0 auto;
    transition: all 1s;
    display:inline-block;
}
.imagen-nosotros:hover{
    border-radius: 44% 56% 87% 13% / 68% 86% 14% 32% ;
}
.info-nosotros{
    width: 60%;
    height: 350px;
    margin-left: 50px;
    display:inline-block;
}
.info-nosotros p{
    font-size: 18px;
    text-align: justify;
    color: black;
}
/* SECCION / FORTALEZAS */
#fort-title{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.contem-fortalezas{
    width: 100%;
    height: 500px;
}
.conte-info{
    width: 100%;
    height: 500px;
}
.card-two{
    width: 30%;
    height: 400px;
    margin-left: 30px;
    margin-top: 45px;
    background-color: white;
    display: inline-block;
}
.icons-wrap{
    margin: 0 auto;
    width: 220px;
    height: 210px;
    background-color: rgba(224, 224, 224, 0.336);
    border-radius: 50%;
    text-align: center;
    margin-top: 3%;
}
.icons-wrap i{
    color: rgb(139, 67, 255);
    font-size: 900%;
    padding-top: 12%;
}
.card-info h3{
    text-align: center;
}
.card-info p{
    text-align: justify;
}
/* SECCION SEIS / OFC */
.container-info {
    width: 100%;
    height: 560px;
}
.informacion {
    width: 90%;
    height: 430px;
    margin-left: 60px; 
    margin-top: 60px;  
}
#info {
    color:  lawngreen;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}
.informacion p{
    color: black;
    font-size: 18px;
    line-height: 155%; 
    padding: 1%;
    text-indent: 2%; /*Texto identado*/
    text-align: justify; /*texto justificado y con sangria*/
}
.informacion h4{
    font-size: 20px;
}
    /* SECCION / MAPA */
        .container-maps{
            width: 100%;
            height: 800px;
        }
        .conte-maps-hijo{
            width: 100%;
            height: 800px;
        }
        #info-ubic {
            color:  lawngreen;
            font-size: 32px;
            font-weight: 800;
            margin-left: 50px;
        }
        .contentenedor-mapa{
            width: 90%;
            height: 700px;
            background-color: black;
            margin-left: 60px;
            padding: 20px 50px;
            text-align: center;
        }
    /* SECCION / FOOTER */
            footer{
                height: 100%;
                height: 950px;
                text-align: center;
                background: black;
            }
    /* SECCION / MENSAJES */
            .seccion-mensajes{
                width: 100%;
                height: 450px;
                background: url(/img/fotos/fondo-dos.jpg)
            }
            .seccion-two{
                width: 100%;
                height: 600px;
            }
            .contem-msn-one{
                width: 58%;
                height: 300px;
                background-color: rgba(8, 253, 0, 0.233);
                display: inline-block;
                justify-content: center;
            }
            .contem-msn-two{
                width: 35%;
                height: 450px;
                background-color: white;
                margin-left: 30px;
                display: inline-block;
                justify-content: center;
            }
            .inputs{
                width: 100%;
                height: 450px;
                border: 3px solid lawngreen;
            }
            .inputs-title{
                width: 99%;
                height: 50px;
                background-color: lawngreen;
            }
            .inputs h4{
                margin-top: 12px;
                font-size: 20px;
            }
            .inputs-info{
                width: 100%;
                height: 340px;
                margin-top: 60px;
                padding: 2%;
                text-align: justify;
            }
            input{
                width: 440px;
                height: 30px;
                border: 1.4px solid lightgrey;
            }
            textarea{
                border: 1.4px solid lightgrey;
            }
            .inputs-info h5{
                color: rgb(48, 48, 48);
            }
    /* SECCION / ICONOS - REDES SOCIALES  */
            .franja-green{
                width: 100%;
                height: 140px;
            }
            .info-redes{
                width: 60%;
                height: 140px;
                margin-left: 300px;
            }
            .footer-title{
                padding: 10px;
                font-size: 30px;
                text-align: center;
                color: lawngreen;
            }
            .icons-rs{
                display: inline-block;
                font-size: 40px;
                padding: 1%;
                color: white;
            }
            .icons-rs:hover{
                color: lawngreen;
            }
    /* SECCION / FOOTER  */
            .footer{
                width: 100%;
                height: 150px;
            }
            .footer-two{
                width: 100%;
                height: 150px;
            }
            .info-desarrollo{
                width: 80%;
                height: 200px;
                margin-left: 150px;
                padding: 50px;
                text-align: center;
                font-size: 20px;
                color: white;
            }
            .logos-inst{
                width: 100%;
                height: 160px;
                background-color: lightgrey;
            }
            .logo-sena{
                width: 20%;
                height: 150px;
                padding: 8px;
                display: inline-block;
            }
            .img-logo{
                width: 90%;
                height: 140px;
                border-radius: 5px;
            }
            .logo-uno{
                background: url(/img/logos/sena.png);
                background-position: center center; /*centrado horizontal y vertical*/
                background-repeat: no-repeat; /*para que la imagensea una y centrada*/
                background-size: 50%;
            }
            .logo-dos{
                background: url(/img/logos/Sennova.jpg);
                background-position: center center; /*centrado horizontal y vertical*/
                background-repeat: no-repeat; /*para que la imagensea una y centrada*/
                background-size: 90%;
            }
            .logo-tres{
                background: url(/img/logos/Biomatic.jpg);
                background-position: center center; /*centrado horizontal y vertical*/
                background-repeat: no-repeat; /*para que la imagensea una y centrada*/
                background-size: 50%;
            }